<!doctype html>
<html lang="en">
  <head>
    <title>About Programme</title>
    {% include 'header.html' %}
    <style>
        .image {
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }
    .dv{
      display:inline-block;
      width:50%;
      margin-left:80px;
    }
    .hh3{
      color:#000080;
      font-family:Algerian;
      margin-left:200px;
      padding:20px;

    }
        </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div>
        
        <div style="display:inline-block;">
            <div style=" " class="dv">
            <h3 style="" class="hh3">About MCA Programme</h3>
            <h4>Master in Computer Applications (MCA)</h4>
            <span style="color: #000080;font-size: 18px;font-family: serif;"><b>(A Two Years Full Time Course of Gujarat Technological University & Approved by AICTE, NEW DELHI)</b></span>


            <p style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
                text-justify: inter-word;">
                    The two-year full time MCA programme at NJSMTI is a postgraduate programme, which produces skilled professionals for the dynamic and fast paced Information Technology industry.
                    NJSMTI had started the MCA programme from the academic year 2011 functioning as a Post Graduate Centre of Gujarat Technological University, to meet the industry demand for skilled technocrats. 
                    This programme aims to meet the requirements of the industry for the young skilled IT professionals capable of working nationally and internationally. The MCA program run by NJSMTI, creates 
                    skilled human resource at the level of programmer and software Developer for Software Industries relating to Banking, Network communication, Multimedia, Security, Wireless Technology & Web Technology etc. 
                    to cater the ever growing IT industry requirements. Apart from syllabus coverage, the students are given ample opportunities to take part in seminars, workshops and conferences for developing their interactive learning skills.
                    The focus of the institute is to make the students prosper academically. As a mark of encouragement, the students who excel are given scholarships. 
                    There are three scholarships of Rs. 10000/- cash for each semester of study, resulting in a total of 18 scholarships.</p>
            <p style="color: red;font-family: serif;text-align: justify;
                text-justify: inter-word;"><b>Objective:</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
                text-justify: inter-word;">
                    MCA is a course exclusively designed to meet the IT requirements of IT Trained Students for various organisations. 
                    The well balanced course significantly emphasizes on planning, designing and building of complex commercial application software and system software. 
                    The course also places equal importance on the functional knowledge in various areas. 
                    A three years full-time MCA course is not just a postgraduate course, it is also a complete professional grooming for students for a successful career in the IT Industry.
            </span></p>

          <p style="color: red;font-family: serif;text-align: justify;
                text-justify: inter-word;""><b>Job Opportunities:</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
                text-justify: inter-word;"> 
                The fact that industries in India and abroad have been placing our MCA students on regular basis is testimony to the quality of course and its students. <br>
                a) MCA graduates begin their career as junior programmers and grow at a very fast pace to become systems analysts and project leaders. Since the course is also designed towards the research side, some students pursue higher studies. 
                Yet others seek entrepreneurial roles like consultation, etc.<br>
                b) Application areas include transaction processing (such as banking, stock exchange order processing) simulation, database management, e-commerce, design support and data communications, networking, embedded technologies, etc.</span></p>

          <p style="color: red;font-family: serif;text-align: justify;
                text-justify: inter-word;""><b>Eligibility : </b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
                text-justify: inter-word;">Graduate in any discipline from a statutory university. Candidates must have Mathematics as a subject in 10+2 or any one year of Graduation.</span></p>
          
          <p style="color: red;font-family: serif;text-align: justify;
                text-justify: inter-word;""><b>Internship :</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
                text-justify: inter-word;">As a part of MCA programme, students have to undergo a final project (Industrial training) in the 6th Semester of their course.
                The training would exclusively focus on software development in either commercial application or systems. 
                The project should be aimed at implementing all analysis, 
                designing and programming tools that have been learnt in the course curriculum.</span></p>

         <p style="color: red;font-family: serif;text-align: justify;
             text-justify: inter-word;""><b>No. Seats Approved :</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
            text-justify: inter-word;">Total number of seats available is 60 at this institute.</span></p>

            <p style="color: red;font-family: serif;text-align: justify;
             text-justify: inter-word;""><b>Management Quota:</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
            text-justify: inter-word;">Nil.( Institute has surrendered management quota since its inception and all seats are filled on the basis of Merit.)</span></p>
            <p style="color: red;font-family: serif;text-align: justify;
             text-justify: inter-word;""><b>Fees:</b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
            text-justify: inter-word;">Rs. 27,500 per Semester</span></p>
            <p style="color: red;font-family: serif;text-align: justify;
             text-justify: inter-word;""><b>Class Timings: </b>&nbsp;<span style="color:#000080;font-family: serif;font-size: 16px;text-align: justify;
            text-justify: inter-word;">Between 8:00 am to 2.30 pm

            </span></p>
          </div>
            <div class="image">
                <img src="https://www.veravaleducationsociety.org/njsmti/img/about/aboutmca.png" alt=""><br>
                <img style="width:210%;height: 400px;"src="https://www.veravaleducationsociety.org/njsmti/img/about/mcafee1.jpg" alt=""><br>
                <img style="width:210%;height: 400px;" src="https://www.veravaleducationsociety.org/njsmti/img/about/mcafeesnote1.jpg" alt=""><br>
        </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
function Speech() {
    if ('speechSynthesis' in window) {
        // Wait for voices to be loaded
        window.speechSynthesis.onvoiceschanged = function() {
            // Create a new instance of the SpeechSynthesisUtterance object
            var message = new SpeechSynthesisUtterance();

            // Set the text to be spoken
            message.text = "About MCA program";

            // Set the voice to be used (optional)
            var voices = window.speechSynthesis.getVoices();

            // Find a male voice
            var maleVoice = voices.find(function(voice) {
                return voice.name.includes('Female');
            });

            // Set the male voice (if found), otherwise use the first available voice
            message.voice = maleVoice || voices[0];

            // Set other options (optional)
            message.volume = 1; // Range from 0 to 1
            message.rate = 1; // Range from 0.1 to 10
            message.pitch = 1; // Range from 0 to 2

            // Speak the text
            window.speechSynthesis.speak(message);
        };
    } else {
        console.log('Speech synthesis not supported');
    }
}

// Call Speech function when the page loads
Speech();
</script>
</html>
{% include 'footer.html' %}
