<!doctype html>
<html lang="en">
  <head>
    <title>governing body</title>
    <style>
        .im{
                width:300px;
                height:400px;
                border:3px solid #000080;
                border-radius:20px;
  }

  .im:hover{
    border:3px solid ;
    transform: scale(1.2);}
    .hi{
    color:#000080;
    margin-left: 600px;

  }

  .hi:hover{
    color:#FCA510;
  }
  .dv{
        display:inline-block;
        margin-left: 250px;
  }
  

        </style>
    {% include 'header.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div style="display:inline-block;">
  
  <h1 class=" hi" style="">Governing Body</h1><br><br>
    <div style=" " class="dv">
    <img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Dr.Tanna.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Dr. Ratilal Ghusalal Tanna<b></p>
            <p style="font-size:15px; font-family: serif;color:gray;">Founder President</p>
    </center>
    <hr>
    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Popatsir.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Dr. Shantilal Muljibhai Popat<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Chairman - I/C</p>
   
    </center>   <hr>


    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/girishbhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Shri Girishbhai Ramjibhai Karia<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Honorary Secretary</p>
    </center>
    <hr>
    </div><br>
    <div style=" " class="dv">
    <img class="im" style=" "
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/bipinbhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Shri Bipinkumar Govindlal Sanghavi<b></p>
            <p style="font-size:15px; font-family: serif;color:gray;">Joint secretary</p>
    </center>
    <hr>
    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/kakubhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Late Shri Kakubhai Manjibhai Savjani<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee (Donor)
</p>
   
    </center>
    <hr>


    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/shaileshbhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Shri Shaileshbhai Babubhai Tanna<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee</p>
    </center>
    <hr>
    </div><br>
    <div style=" " class="dv">
    <img class="im" style="width:300px;height:400px;border:3px solid #000080;border-radius:20px;"
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Dr.MBPopat.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Dr. Mahendrabhai Babubhai Popat<b></p>
            <p style="font-size:15px; font-family: serif;color:gray;">Exe. Member</p>
    </center>
    <hr>
    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=" "
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Dr.Jimudia.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Dr.Ramjibhai Jimudia<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee</p>
   
    </center>
    <hr>


    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/girishbhaithakkar.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Mr.Girishbhai Thakkarh<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Exe. Member</p>
    </center>
    <hr>
    </div><br>
    <div style=" " class="dv">
    <img class="im" style="width:300px;height:400px;border:3px solid #000080;border-radius:20px;"
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/navalbhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Mr.Navalbhai Bhavsar<b></p>
            <p style="font-size:15px; font-family: serif;color:gray;">Exe. Member</p>
    </center>
    <hr>
    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Zavribhai.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Mr.Zaveribhai Thakrar<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee</p>
   
    </center>
    <hr>


    </div>

    <div style=" display:inline-block">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Ashokbhai%20Rachh.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Mr.Ashokbhai Rachh<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee</p>
    </center>
    <hr>
    </div><br>
    <div style=" display:inline-block;margin-left:190px;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img class="im" style=""
    src="https://www.veravaleducationsociety.org/njsmti/img/trusty/Rajshibhai%20Bheda.jpg" alt=""><br>
    <center><p style="font-size:20px; font-family: serif"><b>Mr. Rajeshbhai Bheda<b></p>
            <p style="font-size:15px; font-family: serif;color:gray">Trustee</p>
    </center>
         <hr>
    </div><br>

 
   
    
</div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
function Speech() {
    if ('speechSynthesis' in window) {
        // Wait for voices to be loaded
        window.speechSynthesis.onvoiceschanged = function() {
            // Create a new instance of the SpeechSynthesisUtterance object
            var message = new SpeechSynthesisUtterance();

            // Set the text to be spoken
            message.text = "Governing body";

            // Set the voice to be used (optional)
            var voices = window.speechSynthesis.getVoices();

            // Find a male voice
            var maleVoice = voices.find(function(voice) {
                return voice.name.includes('Female');
            });

            // Set the male voice (if found), otherwise use the first available voice
            message.voice = maleVoice || voices[0];

            // Set other options (optional)
            message.volume = 1; // Range from 0 to 1
            message.rate = 1; // Range from 0.1 to 10
            message.pitch = 1; // Range from 0 to 2

            // Speak the text
            window.speechSynthesis.speak(message);
        };
    } else {
        console.log('Speech synthesis not supported');
    }
}

// Call Speech function when the page loads
Speech();
</script>
</html>
{% include 'footer.html' %}
